@model EntityLayer.Concrete.Message2
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Mesaj Detay Sayfası</h1>
<br />
    @Html.Label("Mesaj Id")
    @Html.TextBoxFor(x => x.MessageId, new { @class = "form-control" })
    <br />
    @Html.Label("Mesaj Başlığı")
    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    <br />
    @Html.Label("Mesaj İçeriği")
    @Html.TextAreaFor(x => x.MessageDetails,10,3, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Mesajlara Dön</button>


